@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #2b2e37;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.tabs { margin: 20px;}


.tablinks li a {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  color: #2b2e37;
  font-size: 22px;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.tablinks li {
  width: 35%;
  border: none;
  border-bottom: 3px solid #afb5bb;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.tabActive {
  border: 2px solid #afb5bb;
  border-bottom: transparent;
  border-style: double;
}

.tablinks {
  margin-bottom: 40px;
  position: relative;
  display: flex;
}

.tabcontent li {
  width: 100%;
  border: 2px solid #ccc;
}

.tabcontent { animation: fadeEffect 2s; }

.tabcontent #Paris,
.tabcontent #Tokyo { display: none; }
.tabcontent figure { float: left; }

.tabcontent h3{
  width: 25%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 3%;
  font-size: 35px;
  cursor: pointer;
  border-bottom: 1px solid #afb5bb;
  transition: all 0.3s ease;
}

.tabcontent p {
  width: 25%;
  color: #7b5b5b;
  font-size: 22px;
  margin: 0 auto;
  padding: 3%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.visible { 
  display: inline-block;
  transition: all 0.3s ease;
}
.hidden { 
  display: none;
  transition: all 0.3s ease;
}

.noscroll { overflow: hidden; }

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  